<div class="jumbotron">
  <h1>Practica de Rails</h1>

  <p>Este es el home de mi practica</p>

  <h2>
    <a href="http://www.google.com">Google</a>
  </h2>
  
  <%= link_to "sign up now!", signup_path, class: 'btn btn-large btn-primary' %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>